= render "module/header"

%body.mypage-body        

  %nav.breadcrumbs
    %ul
      %li{ itemscope: "", itemtype: "#"}
        = link_to "", 
        href: "#", itemprop: "url" do
          %span{ itemprop: "title"}
            メルカリ
            = fa_icon 'chevron-right'
      %li{ itemscope: "", itemtype: "#"}
        %span{ itemprop: "title"}
          マイページ
          = fa_icon 'chevron-right'
      %li{ itemscope: "", itemtype: "#"}
        %span{ itemprop: "title"}
          プロフィール

  %main.container
    .profile-edit-container
      %section.profile-edit-content
        %h2.profile-edit-title
          プロフィール
        %form.profile-edit-wrapper
          .profile-edit-wrapper__upper
            %figure
              %img{ src: "icon.jpg", width: "60", height: "60" }
            %input{ value: "SUGURU", name: "nickname", placeholder: "例) AYA　セール中"}
          .profile-edit-wrapper__bottom
            %textarea.profile-edit-wrapper__textarea{ name: "self-introduction", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
              こんにちは！！
              ああ
              ああ
              ああ
              ああ
              ああ
              ああ
              ああ
              あああ
              あああ
              ああ
              よろしくお願いします。
              こんばんは！
              よろしくお願いします。。。。。。
              おはようございます！
              ああああああ
              あああ
              あああ
              あああ
              あああ
              あああ

              よろしくお願いします！！！！！！！！！！！！！！！！！！！！！！！！！！！
            %button.btn-default-value.btn-color-red{ type: "submit" }
              変更する

    = render "module/content-left"      
= render "module/footer"
= render "module/right_btn"
