/* mypage */

= render "module/header"

.mypage-body 
  - breadcrumb :users
  = render partial: "layouts/breadcrumbs"
  %main.container
    .content
      -# - @items.each do |item|
      -#   = item.name
      %section.mypage-user-upper
        = link_to "", class: "content-wrapper", href: "#" do
          %figure
            %img{ src: "assets/mypage_back.jpg", alt: "", width: 60, height: 60 }
          %h2.content-wrapper__user-name
            = current_user.nickname
          .content-wrapper__evaluation-exhibit
            %div 
              評価 
              %span.content-wrapper__evaluation-exhibit.bold 89
            %div
              出品数
              %span.content-wrapper__evaluation-exhibit.bold 
                = current_user.items.count

      .tab-wrap
        %input#TAB-01-01.tab-switch{ type: "radio", name: "TAB01", checked: "checked" }
        %label.tab-label{ for: "TAB-01-01" }
          お知らせ
        .tab-content
          .mypage-tabs-content
            %ul.mypage-contents-list
              %li
                = link_to "", class: "mypage-contents-list__link", href: "#" do
                  %figure
                    %img.app-icon{ alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                  .mypage-contents-body
                    .mypage-contents-body__text 事務局から個別メッセージ「ログイン通知」
                    %time
                      = fa_icon 'clock', class: 'clocks-icon'
                      %span 1時間前
                  = fa_icon 'chevron-right'
              %li
                = link_to "", class: "mypage-contents-list__link", href: "#" do
                  %figure
                    %img.app-icon{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                  .mypage-contents-body
                    .mypage-contents-body__text かゆい所に手が届く！厚めの商品発送におすすめの「ゆうパケットプラス」」が新登場！
                    %time
                      = fa_icon 'clock', class: 'clocks-icon'
                      %span 11日前
                  = fa_icon 'chevron-right'
              %li
                = link_to "", class: "mypage-contents-list__link", href: "#" do
                  %figure
                    %img.app-icon{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                  .mypage-contents-body
                    .mypage-contents-body__text 明日、5％還元クーポンの有効期限有効期限が切れます！タップして詳細を確認しましょう。
                    %time
                      %i.fas.fa-clock
                      %span 13日前
                  = fa_icon 'chevron-right'
              %li
                = link_to "", class: "mypage-contents-list__link", href: "#" do
                  %figure
                    %img.app-icon{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                  .mypage-contents-body
                    .mypage-contents-body__text 事務局から個別メッセージ「【お詫び】「クーポンの有効期限」について」
                    %time
                      %i.fas.fa-clock
                      %span 15日前
                  = fa_icon 'chevron-right'
              %li.mypage-notice-list
                = link_to "", href: "#" do
                  一覧を見る
  
        %input#TAB-01-02.tab-switch{ type: "radio", name: "TAB01" }
        %label.tab-label{ for: "TAB-01-02" }
          やることリスト
        .tab-content
          %ul.todo-lists
            %li.todo-contents.bold
              現在やることリストはありません
          
      %section.purchase-wrapper
        %h2.purchase-head
          購入した商品
      .tab-wrap
        %input#TAB-02-01.tab-switch{ type: "radio", name: "TAB02", checked: "checked" }
        %label.tab-label{ for: "TAB-02-01" }
          取引中
        .tab-content
          %ul.todo-lists
            %li.todo-contents.bold
              現在取引中の商品はありません
        %input#TAB-02-02.tab-switch{ type: "radio", name: "TAB02" }
        %label.tab-label{ for: "TAB-02-02" }
          過去の取引
        .tab-content
          %ul#transactioned.transactioned
            %li
              = link_to "", class: "products-link", href: "#" do
                %figure
                  %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
                .transactioned__body
                  .transactioned__text
                    "
                    　　　　「＾＾＾＾＾」を購入しました。
                    　　　　　"
                    %span 取引が完了しました
                  .transaction_completed
                    取引完了
                = fa_icon 'chevron-right'
            %li
              = link_to "", class: "products-link", href: "#" do
                %figure
                  %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
                .transactioned__body
                  .transactioned__text
                    "
                    　　　　「＾＾＾＾＾」を購入しました。
                    　　　　　"
                    %span 取引が完了しました
                  .transaction_completed
                    取引完了
                = fa_icon 'chevron-right'
            %li
              = link_to "", class: "products-link", href: "#" do
                %figure
                  %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
                .transactioned__body
                  .transactioned__text
                    "
                    　　　　「＾＾＾＾＾」を購入しました。
                    　　　　　"
                    %span 取引が完了しました
                  .transaction_completed
                    取引完了
                = fa_icon 'chevron-right'
            %li
              = link_to "", class: "products-link", href: "#" do
                %figure
                  %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
                .transactioned__body
                  .transactioned__text
                    "
                    　　　　「＾＾＾＾＾」を購入しました。
                    　　　　　"
                    %span 取引が完了しました
                  .transaction_completed
                    取引完了
                = fa_icon 'chevron-right'
            %li.mypage-notice-list
              = link_to "", href: "#" do
                一覧を見る
    = render "module/content-left"      

= render "module/footer"
= render "module/right_btn"

          
