/* 元 profile_html.haml */
-# プロフィール画面で使います

= render "module/header"

.mypage-body        
  - breadcrumb :profile
  = render partial: "layouts/breadcrumbs"

  %main.container
    .profile-edit-container
      %section.profile-edit-content
        %h2.profile-edit-title
          プロフィール
        .profile-edit-wrapper
        = form_with model: @user, url: mypage_path, method: :patch, local: true do |f|
          .profile-edit-wrapper__upper
            %figure
              %img{ src: current_user.image, width: "60", height: "60" }
            = f.text_field :nickname, placeholder: "例) AYA セール中"
          .profile-edit-wrapper__bottom
            = f.text_area :introduction, class: "profile-edit-wrapper__textarea", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"
            
            = f.submit "変更する", class: "btn-default-value btn-color-red"
        
    = render "module/content-left"      
= render "module/footer"
= render "module/right_btn"


