= render partial:  "module/header"
.mypage-body        

  - breadcrumb :mypages
  = render partial: "layouts/breadcrumbs"

  = render partial:'mypages/notification'
  %main.container
    .content-exhibited
      %section.like-wrapper-exhibited
        %h2.like-head.bold
          いいね！一覧
        %ul.mypage-likes-list
          - current_user.likes.each do |like|
            %li.mypage-likes-list__inner
              = link_to item_path(like.item.id), data: {"turbolinks" => false}, class: "mypage-likes-list__inner--link" do
                %figure
                  = image_tag like.item.images[0].image.url
                .mypage-item-body
                  .mypage-item-body__name
                    = like.item.name
                  .mypage-item-body__price
                    ¥
                    = like.item.price
              - if like.item.order_status == 1
                .like-souldout
                  %div SOLD
    = render 'module/content-left'
= render "module/footer"
= render "module/right_btn"
