= render partial:  "module/header"
.mypage-body

  - breadcrumb :mypages
  = render partial: "layouts/breadcrumbs"

  = render partial:'mypages/notification'
  %main.container
    .content-exhibited
      %section.purchase-wrapper-exhibited
        %h2.purchase-head.bold
          出品した商品
      .tab-wrap-exhibited
        %input#TAB-01-01.tab-switch-exhibited{ type: "radio", name: "TAB01", checked: "checked" }
        %label.tab-label-exhibited{ for: "TAB-01-01" }
          出品中
        .tab-content-exhibited
          .mypage-tabs-content
            %ul.mypage-contents-list2
              - current_user.items.each do |item|
                %li
                = link_to item_path(item.id), class: "mypage-contents-list__link", id:"mypage_link" do
                  = item.name
                  %figure
                    - @images.each do |image|
                      =image_tag item.images[0].image.url
                  .mypage-contents-body2
                    .mypage-contents-body2__text
                      %i.heart-icon2
                      = fa_icon "heart"
                      %span 7
                      %i.comment-icon
                      = fa_icon "comment"
                      %span 4

        %input#TAB-01-02.tab-switch-exhibited{ type: "radio", name: "TAB01" }
        %label.tab-label-exhibited{ for: "TAB-01-02" }
          取引中
        .tab-content-exhibited
          %ul.todo-lists
            %li.todo-contents.bold
              現在取引中の商品はありません
        %input#TAB-01-03.tab-switch-exhibited{ type: "radio", name: "TAB01" }
        %label.tab-label-exhibited{ for: "TAB-01-03" }
          売却済み
        .tab-content-exhibited
          %ul.todo-lists
            %li.todo-contents.bold
              現在売却済みの商品はありません
    = render 'module/content-left'
= render "module/footer"
= render "module/right_btn"
