= render "module/header"


%body.mypage-body        

  %nav.breadcrumbs
    %ul
      %li{ itemscope: "", itemtype: "#"}
        = link_to "", href: "#", itemprop: "url" do
          %span{ itemprop: "title"}
            メルカリ
            = fa_icon 'chevron-right'
      %li{ itemscope: "", itemtype: "#"}
        %span{ itemprop: "title"}
          マイページ
          = fa_icon 'chevron-right'
      %li{ itemscope: "", itemtype: "#"}
        %span{ itemprop: "title"}
          ログアウト

  %main.container
    .logout-container
      .logout-content
        %form.logout-content__form{ action: "#", method: "POST", novalidate: "novalidate"}
          .logout-content__btn-wrapper
            %button.btn-default-value.btn-color-red{ type: "submit" }
              = link_to 'ログアウト', destroy_user_session_path, method: :delete

    = render "module/content-left"      

= render "module/footer"
= render "module/right_btn"
