= render "module/header"


%body.mypage-body        

  - breadcrumb :logout
  = render partial: "layouts/breadcrumbs"

  %main.container
    .logout-container
      .logout-content
        %form.logout-content__form{ action: "#", method: "POST", novalidate: "novalidate"}
          .logout-content__btn-wrapper
            .logout-content__btn-wrapper__text           
              = link_to"ログアウト", destroy_user_session_path, method: :delete, class: "logbtn"

             

    = render "module/content-left"      


= render "module/footer"
= render "module/right_btn"
