%body.mypage-body        

  .main_container
    %section.item-detail
      %h1.item-detail__name
        = @item.name
      .item-detail__contents.clearfix
        .swiper-container2.main
          .swiper-wrapper
            - @item.images.each do |image| 
              .swiper-slide
                = image_tag image.image.url
          - if @item.order_status == 1
            .souldout
              %div SOLD
        =render partial: "module/item_show_table"
        .swiper-container2.thumbnail
          .swiper-wrapper
            - @item.images.each do |image| 
              .swiper-slide
                = image_tag image.image.url
      .item-detail__price-box.text-center
        %span.item-detail__price-box--main-price
          ￥
          = @item.price
        %span.item-detail__price-box--tax
          (税込)
        %span.item-detail__price-box--shipping-fee
          -if @item.cost_burden == "送料込み(出品者負担)"
            (送料込み)
          - else
            (着払い)
      -if @item.order_status == 0
        = link_to  purchase_confirmation_item_path(@item), method: :get, class: "item-detail__order-btn text-center" do
          購入画面に進む
      -elsif @item.order_status == 1
        .souldout_btn
          %span 売り切れました
      .item-detail__description
        %p.item-detail__description--input
          = @item.body
      .item-detail__buttons.crearfix
        .item-detail__buttons--left-btn
          - if user_signed_in?
            = render partial: 'likes/like'
          - else
            .like-link{id: "like-link-#{@item.id}"}
              = link_to step0_signups_path do
                .iine__button.like
                  ❤ いいね!
                  = @item.likes.count
        .item-detail__buttons--right-btn
          = fa_icon 'lock'
          =link_to '#' do
            = '安心安全への取り組み'
    .item-comment
      .item-comment__box
        = form_with url: '#', local: true do |f|
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :search, class: 'item-comment__box--textarea'
          = f.submit 'コメントする', class: 'item-comment__box--btn'
            
    %ul.item-nav.clearfix
      %li.item-nav__prev
        = link_to '#' do
          = fa_icon 'chevron-left'
          = '前の商品'
      %li.item-nav__next
        = link_to '#' do
          = '次の商品'
          = fa_icon 'chevron-right'
    .item-sns-box
      %ul.item-sns-box__icons
        %li.item-sns-box__icons--facebook
          = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@item.name}をメルカリで出品中！", title: 'Facebook', target: '_blank' do
            = fa_icon 'facebook-square'
        %li.item-sns-box__icons--twitter
          = link_to "https://twitter.com/share?url=#{request.url}&text=#{@item.name}をメルカリで出品中！", title: 'Twitter', target: '_blank' do
            = fa_icon 'twitter'
        %li.item-sns-box__icons--pinterest
          = link_to "https://social-plugins.line.me/lineit/share?url=#{request.url}&text=#{@item.name}をメルカリで出品中！", title: 'line', target: '_blank' do
            = image_tag "1200px-LINE_logo.svg.png", class: "line-logo"
    .other-items-box
      %section.other-items-box__users-items
        %h2.other-items-box__users-items--head
          = link_to '#' do
            = @item.user.nickname + 'のその他の商品'
        .other-items-box__users-items--contents.clearfix
          = render partial: 'module/other_items'
      %section.other-items-box__related-items
        %h2.other-items-box__related-items--head
          = link_to '#' do
            = 'ナイキのジャケットのその他の商品'
        .other-items-box__related-items--contents.clearfix
          -# = render 'module/other_items'
    .bread-crumbs
      %ul
        %li.bread-crumbs__back
          = link_to root_path do
            %span メルカリ
          =fa_icon 'chevron-right'
        %li.bread-crumbs__current-page
          %sapn 
            = @item.name