= render partial: "module/header"

%main.search_wrapper
  .search_main
    %section.search_box
      %h2.search_box__title
        サッカー
        %span
          の検索結果
      .search_box__number
        1-132件表示
      .search_box__contents

        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              サッカーボール  
            .search_bottom__num
              .search_price
                ¥1500
        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              ボール  
            .search_bottom__num
              .search_price
                ¥1000
        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              サ  
            .search_bottom__num
              .search_price
                ¥150
        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              サカーボール  
            .search_bottom__num
              .search_price
                ¥150
        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              サッカール  
            .search_bottom__num
              .search_price
                ¥1100
        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              サカーボール  
            .search_bottom__num
              .search_price
                ¥500
        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              カーボール  
            .search_bottom__num
              .search_price
                ¥15000
        %section.search_content
          = link_to "", href: "#"
          %figure.search_content__image
            = image_tag "icon.jpg", size: "160"
          .search_bottom
            %h3.search_bottom__name 
              サ  
            .search_bottom__num
              .search_price
                ¥150000
