.item-new-container
  .item-new-header
    %h1
      = link_to root_path do
        = image_tag 'main-logo', width: 185, hight: 49
  .item-new-main
    .item-new-main__container
      %h2.item-header
        商品の情報を入力
      = form_with model: @item, html: {class: "sell-form", id: "item-dropzone"}, local: true do |f|
        .image-form
          %label
            出品画像
          %span.required-form
            必須
          %p
            最大10枚までアップロードできます
          = f.fields_for :images do |image|
            .dropzone-container.clearfix
              #preview
              .dropzone-area
                = image.label :image, class: "dropzone-box", for: "upload-image" do
                  .input_area
                    = image.file_field :image, multiple: true, name: 'images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
              #preview2
              .dropzone-area2
                = image.label :image, class: "dropzone-box", for: "upload-image"


        = f.submit