  
.sell-container
  .sell-header
    %h1
      = link_to "", href: "#" do
        = image_tag src='//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?210491352'

  %main.sell-main
    %section.item-container
      #sell-container
        %div{"data-reactroot": ""}
          .sell-container-inner
            %h2.sell-container-inner__title 商品の情報を入力
            = form_with model: @shipping, url: items_path, method: :post, class: "sell-form", local: true do |f|
              = f.fields_for :items do |item|
                = item.fields_for :images do |image|
                  = f.fields_for :category do |c|
                    .upload-box
                  
                    %h3.upload-box__header
                      出品画像
                      %span.upload-box__header__required 必須
                    %p 最大10枚までアップロードできます
                    .upload-container
                      .upload-items
                        .upload-items__item
                          %ul
                      .upload-dropbox
                        = image.file_field :image_url, class: "upload-dropbox__input"
                        %pre.upload-dropbox__input__visib
                          ドラッグアンドドロップ
                          またはクリックしてファイルをアップロード
                        %i.icon-camera
                  .sell-content
                    .sell-content-title
                      %label
                        商品名
                        %span.upload-box__header__required 必須
                      %div
                        = item.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "sell-title-label__input"
                    .sell-content-explanation
                      %label
                        商品名の説明
                        %span.upload-box__header__required 必須
                        = item.text_area :body, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "sell-content-explanation__input", rows: :"5"
                  .prodcts-detail
                    %h3.prodcts-detail__label 商品の詳細
                    .prodcts-detail__box
                    = f.fields_for :category do |c|
                      .prodcts-category
                        %label
                          カテゴリー
                          %span.category__required 必須
                        %div
                          .category-container
                            %i.fas.fa-angle-down
                            = c.select :name, @category_parent_array, {}, class: "category-container__select", id: :s1
                            -# = c.select :name, [ ["---",""], ["トップス",1], ["シャツ/アウター", 2], ["パンツ", 3 ] ,["スカート", 4], ["ワンピース", 5], ["靴", 6],["ルームウェア", 7],["レッグウェア", 8],["帽子", 9],["バック", 10],["アクセサリー", 11],["小物", 12] ,["時計", 12],["ヘアアクセサリー", 12],["小物", 12],["時計", 12] ,["ウィッグ/エクステ", 12],["浴衣/水着", 12], ["スーツ/フォーマル/ドレス", 12]], {}, class: "category-container__select", id: :s2
                            -# = c.select :name, [ ["---",""], ["レディース",1], ["メンズ", 2], ["ベビー・キッズ", 3 ] ,["インテリア・住まい・小物", 4], ["本・音楽・ゲーム", 5], ["コスメ・香水・美容", 6],["家電・スマホ・カメラ", 7],["スポーツ・レジャー", 8],["ハンドメイド", 9],["チケット", 10],["自動車・オートバイ", 11],["その他", 12] ], {}, class: "category-container__select", id: :s3
                      .prodcts-status
                        %label
                          商品の状態
                          %span.status__required 必須
                        %div
                          .status-container
                            %i.fas.fa-angle-down
                          = item.select :status, [ ["---",""], ["新品、未使用",1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3 ] ,["目立った傷や汚れなし", 4], ["やや傷や汚れあり", 5], ["全体的に状態が悪い", 6] ], {}, class: 'status-container__select'
                  .prodcts-delivery
                    %h3.prodcts-delivery__label 配送について
                    = link_to "?", "#",class: "question-icon"
                    .delivery-box
                      .delivery-box__container
                        %label
                          配送料の負担
                          %span.required 必須
                        %div
                          .delivery-container
                            %i.fas.fa-angle-down
                            = f.select :cost_burden, [ ["---",""], ["新品、未使用",1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3 ] ,["", 4], ["", 5], ["", 6] ],{}, class: "delivery-container__select"
                      .delivery-box__content
                        %label
                          発送元の地域
                          %span.required 必須
                        %div
                          .delivery-container
                            %i.fas.fa-angle-down
                            = f.collection_select(:prefecture, Prefecture.all, :id, :name,{prompt: "---"}, {class: "delivery-container__select"})

                
                            -# = f.select :prefecture, [["#{addres.name}","#{addres.id}"]], {}, class: "delivery-container__select"

                      .delivery-box__content
                        %label
                          発送までの日数
                          %span.required 必須
                        %div
                          .delivery-container
                            %i.fas.fa-angle-down
                            = f.select :period_before_shipping	, [ ["---",""], ["新品、未使用",1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3 ] ,["", 4], ["", 5], ["", 6] ], {}, class: "delivery-container__select"
                  .prodcts-price
                    %h3.prodcts-price__label 販売価格(300〜9,999,999)
                    = link_to "", class: "question-icon", href: "#" do
                      ?
                    .price-container
                      %ul.price-lists

                        %li.price-lists__price
                          .parice-content
                            %label.parice-content__label
                              価格
                              %span.required 必須
                            .price-input
                              ¥
                              %div
                                = item.number_field :price, placeholder: "例）300", class: "price-input__form"
                        %li.price-lists__fee
                          .fee-label
                            販売手数料 (10%)
                          .fee-label__a -
                        %li.price-lists__profit
                          .price-lists__profit__label 販売利益
                          .price-lists__profit__label__a -
                  .price-sell
                    %div
                      %p
                        = link_to "禁止されている出品", href: "#"
                        、
                        = link_to "行為を", href: "#"
                        必ずご確認ください。
                      %p
                        またブランド品でシリアルナンバー等がある場合はご記載ください。
                        = link_to "偽ブランドの販売は", href: "#"
                        犯罪であり処罰される可能性があります。
                      %p
                        また、出品を持ちまして
                        = link_to "加盟店規約", href: "#"
                        に同意した事になります。
                    = f.submit "出品する"
                    = link_to "", class: "back-btn", href: "#" do
                      もどる

      %footer.sell-footer
        %nav
          %ul.sell-footer__lists
            %li
              = link_to "プライバシーポリシー", href: "#"
            %li
              = link_to "メルカリ利用規約", href: "#"
            %li
              = link_to "特定商取引に関する表記", href: "#"
        = link_to "", class: "sell-logo_link", href: "#" do
          = image_tag src='//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?210491352', class: 'sell-logo_link__logo', width: :"80", height: :"65"
        %p
          %small © 2019 Mercari