.header
  .header__logo
    =image_tag "logo.svg",class:'header__logo'

%body.mypage-body

  %section.complete-container
    %section.message-box
      %h2.message-box__red
        = fa_icon "clock-o", class: "shipping-clock"
        発送をお待ちください
      %h.message-box__text
        出品者からの発送通知をお待ちください
    %section.complete-message
      購入が完了しました
    %section.buy-item
      = image_tag @item.images.first.image.url, class: "buy-item__photo"
      %h3.buy-item__name
        = @item.name
    %section.buy-price
      %span.buy-price__money
        ¥
        = @item.price
      %span.buy-price__cost-burden
        = @item.cost_burden
    %section.buyer-address
      %h2.buyer-address__title
        配送先
      .buyer-address__post-number
        -# 郵便番号
        - address = current_user.address
        = "〒#{address.post_number}"
      %span.buyer-address__prefecture
        = address.prefecture
      %span.buyer-address__city
        = address.city
      %span.buyer-address__house_number
        = address.house_number
      %span.buyer-address__building_name
        = address.building_name
      .buyer-address__name
        = current_user.address.user_name
    %section.buyer-card
      %h2.buyer-card__title
        支払い方法
      .buyer-card__number
        = "************#{@user_card.last4}"
      .buyer-card__limit
        = "#{@user_card.exp_month} / #{@user_card.exp_year % 2000}"
      = image_tag "visa.svg", width: 49, hight: 20
    %section.bottom-message
      .bottom-message__title
        発送通知後の流れ
      %sapn.star
        = fa_icon "star"
      %span.good
        = fa_icon "smile-o"
      %sapn.normal
        = fa_icon "meh-o"
      %sapn.bad
        = fa_icon "frown-o"
      %sapn.star
        = fa_icon "star"
      %p.bottom-message__text
        商品を受け取ったら
        %br
        出品者の評価をしましょう。
        %br
        購入代金が出品者に振り込まれます。
        %br
        評価後に取引は完了です。
      = link_to "#" do
        %br
        = link_to 'マイページへもどる', user_path(current_user)
  .footer
    .footer__nav
      .footer__nav__li1
        プライバシポリシー
      .footer__nav__li2
        メルカリ利用規約
      .footer__nav__li3
        特定商取引に関する表記
    .footer__logo
      %img= embedded_svg("red.svg", class: "footer__logo") 
    .footer__copyright
      = fa_icon 'copyright'
      2019 Merukari