.header
  .header__logo
    =image_tag "logo.svg", class:'header__logo'
%body.mypage-body
  %section.purchase-confirmation
    %h2.purchase-confirmation__title
      購入内容の確認
    %section.purchase-confirmation__item
      .purchase-item
        %h3.purchase-item__image
          - @item.images.each do |image|
            = image_tag image.image.url, class: "purchase-item__image-adjust"
        %p.purchase-item__name
          = @item.name
        %form.purchase-item-form{ action: "", method: "POST", novalidate: "novalidate"}
          %p.purchase-item-form__price
            ¥
            = @item.price
            %span.purchase-item-form__postage-included
              送料込み
          %ul.purchase-item-form__outer
            %li.purchase-item-form__inner
              .purchase-item-form__point-grant
                ポイントはありません
          %ul.purchase-item-confirmation
            %li.purchase-item-confirmation__outer
              .purchase-item-confirmation__item-payment
                支払い金額
              .purchase-item-confirmation__inner
                %span.purchase-item-confirmation__payment-amount
                  ¥
                  = @item.price
          %button.btn-default-value.btn-color-red
            = link_to '購入する', purchase_item_path(@item), method: :post, class: "logbtn3"
    %section.user-info-wrapper
      .customer-confirmation
        %h3
          配送先
        %address.customer-confirmation__address
          = current_user.address.post_number
          %br
            - address = current_user.address
            = "#{address.prefecture} #{address.city} #{address.post_number} #{address.house_number} #{address.building_name}"
          %br
            = current_user.address.user_name
        = link_to "", class: "customer-confirmation__edit", href: "#" do
          %span
            変更する
          = fa_icon 'chevron-right'
    %section.user-info-wrapper--padding-add
      .customer-confirmation
        %h3
          支払い方法
        %p.customer-confirmation__credit-number
          = "************#{@user_card.last4}"
          %br
            = "#{@user_card.exp_month} / #{@user_card.exp_year % 2000}"
        %figure
          = image_tag "visa.svg", width: 49, hight: 20
        = link_to "", class: "customer-confirmation__edit",
        href: "#" do
          %span
            変更する
          = fa_icon 'chevron-right'
.footer
  .footer__nav
    .footer__nav__li1
      プライバシポリシー
    .footer__nav__li2
      メルカリ利用規約
    .footer__nav__li3
      特定商取引に関する表記
  .footer__logo
    %img= embedded_svg("red.svg", class: "footer__logo") 
  .footer__copyright
    = fa_icon 'copyright'
    2019 Merukari