.main_container
  .header
    ヘッダー
  %section.item-detail
    %h1.item-detail__name
      【90s】NIKE ナイロンジャケット 人気のヴィンテージ◎ サイズL
    .item-detail__contents.clearfix
      .item-detail__contents--photo
        %img(src="https://static.mercdn.net/item/detail/orig/photos/m94691953727_1.jpg?1568889708" alt="")/
      %table.item-detail__contents--table
        %tr
          %th
            出品者
          %td
            =link_to '#' do
              ='サンプルサンプルサンプルサンプル'
            .item-detail__contents--table--rating
              %span.user-ratings
                = fa_icon 'smile-o', class: 'good-icon'
                %span 100
              %span.user-ratings
                = fa_icon 'meh-o', class: 'normal-icon'
                %span 50
              %span.user-ratings
                = fa_icon 'frown-o', class: 'bad-icon'
                %span 10
        %tr
          %th
            カテゴリー
          %td
            =link_to '#' do
              = 'メンズ'
            .item-detail__contents--table--child-category
              = fa_icon 'chevron-right', class: 'arrow'
              =link_to '#' do
                = 'アウター、ジャケット'
            .item-detail__contents--table--grond-child-category
              = fa_icon 'chevron-right', class: 'arrow'
              =link_to '#' do
                ='ナイロンジャケット'
        %tr
          %th
            ブランド
          %td
            =link_to '#' do
              = 'ナイキ'
        %tr
          %th
            商品のサイズ
          %td
            L
        %tr
          %th
            商品の状態
          %td
            目立った傷や汚れなし
        %tr
          %th
            配送料の負担
          %td
            送料込み(出品者負担)
        %tr
          %th
            配送の方法
          %td
            らくらくメルカリ便
        %tr
          %th
            配送元地域
          %td
            =link_to '#' do
              = '栃木県'
        %tr
          %th
            発送日の目安
          %td
            2~３日で発送
    .item-detail__price-box.text-center
      %span.item-detail__price-box--main-price
        ￥5,800
      %span.item-detail__price-box--tax
        (税込)
      %span.item-detail__price-box--shipping-fee
        (送料込み)
    =link_to '#', class: "item-detail__order-btn text-center" do
      購入画面に進む
    .item-detail__description
      %p.item-detail__description--input
        ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

        【フォロー割り  10％引き】(^^)
        【 セット割り    10％引き】(^^)
        【フォロー&セット購入で20％引き】(^-^)/
        『フォローしたよ』のコメントを頂ければ
        割引致します！お気軽にコメント下さい(^^)

        ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
    .item-detail__buttons.crearfix
      .item-detail__buttons--left-btn
      .item-detail__buttons--right-btn
        = fa_icon 'lock'
        =link_to '#' do
          = '安心安全への取り組み'
  .item-comment
    .item-comment__box
      
  .item-nav
    次の商品、前の商品
  .item-sns-box
    sns共有
  .other-items-box
    ユーザーの別の商品、ブランドの別の商品
  .bread_crumbs
    パンくず