= render "module/header"
.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)
    
-if user_signed_in? && current_user.id == @item.user_id 
  = render "current_user_show"

-else
  = render "nocurrent"
  
= render "module/footer"
