.item-contents
  .item-contents__mein
    .item-contents__mein__title
      %h3.item-contents__name レディース新着アイテム
      =link_to "https://item.mercari.com/jp/m87552858444/", class: "see" do
        もっと見る
        %i.fas.fa-chevron-right
    .item-container
      %ul.item-container__lists
        %li.item-container__lists__list
          .item-box
            %a.item-link{href: :"https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'
        %li.item-container__lists__list
          .item-box
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-photo" do
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403', class: 'item-photo'