= render 'module/slider'
.body
  .category-contents
    %h2.category-contents__title 人気カテゴリ
    .category-lists
      %ul.category-type
        %li.category-list
          %a.category-ladies レディース
        %li.category-list
          %a.category-mens メンズ
        %li.category-list
          %a.category-appliances 家電・スマホ・カメラ
        %li.category-list
          %a.category-children おもちゃ・ホビー・グッズ
  = render 'body/ladies'
  = render 'body/mens'
  = render 'body/appliance'
  = render 'body/appliance'
  = render 'body/kids'
  /////////////人気ブランド///////////
  .category-contents
    %h2.category-contents__title 人気ブランド
    .category-lists
      %ul.category-type
        %li.category-list
          %a.category-ladies シャネル
        %li.category-list
          %a.category-mens ルイヴィトン
        %li.category-list
          %a.category-appliances シュプリーム
        %li.category-list
          %a.category-children ナイキ
  = render 'body/brand'