<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :ニックネーム %>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field"  >
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

    <%= f.label :パスワードを表示する %><br />
    <%=check_box_tag :checkbox %>



  <p><input  id="realText" class="password"/></p>


  </div>

  <div class="field">
    <%=f.label :お名前（全角）  %><br />
    <%=f.text_field :family_name, autocomplete: "family_name"%>
    <%=f.text_field :first_name, autocomplete: "first_name"%>
  </div> 
  <div class="field">
  <%=f.label :お名前カナ（全角） %><br />
    <%=f.text_field :family_name, autocomplete: "family_name"%>
    <%=f.text_field :first_name, autocomplete: "first_name"%>
  </div>

  <div class="field">
  <%= f.label :生年月日 %>
  <%# <%= f.date_select :birth_date, {discard: true} %>
  <%= raw sprintf(
            f.date_select(
              :birth_date,
              use_month_numbers: true,
              start_year: 1930,
              end_year: (Time.now.year - 18),
              default: Date.new(1989, 1, 1),
              date_separator: '%s'),
            '年 ', '月 ') + '日' %>
    <p>＊本人情報は正しく入力してください。会員登録後、</p> 
    <p>修正するにはお時間を頂く場合があります</p> 
  </div>


  <div class="actions">
   <%=link_to '次へ進む', new_user_session_path %>
    
   
  </div>

<p>本人情報の登録について</p><%# ここにはリンクを飛ばす為、あとで変更 %>
<% end %>

<%= render "users/shared/links" %>
